/* .grida {
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.grid td {
  width: 25px;
  height: 25px;
  border: 1px solid #2679d8;
  padding: 0;
  cursor: pointer;
}

/* .unvisited {
  background-color: white;
} */

.grid {
  border-collapse: collapse;
  margin: 20px auto;
}
/* .unvisited {
  background-color: white;
} */

.start {
  background-color: #2ecc71;
}
.target{
  background-color: red;
}


