.grid td {
  width: 25px;
  height: 25px;
  border: 1px solid #2679d8;
  /* border:  1px solid rgb(247, 10, 10); */
  padding: 0;
  cursor: pointer;
}
.grid {
  border-collapse: collapse;
  margin: 20px auto;
}

.start {
  background-color: #2ecc71;
}
.target{
  background-color: red;
}

.visited {
  background-color: blue;
}

.path {
  background-color: yellow;
}

